{% extends "layout.html" %}
{% block content %}
<h2>Analiza baterii i zarządzanie energią</h2>
<p>Średnie napięcie ogniwa: <strong>{{ avg_voltage|round(2) }} mV</strong></p>
<p>Minimalne napięcie ogniwa: <strong>{{ min_voltage|round(2) }} mV</strong></p>
<div id="battery-voltage-chart"></div>
{% if fig_soc_json %}
<div id="battery-soc-chart"></div>
{% endif %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph_voltage = {{ fig_voltage_json | safe }};
    Plotly.newPlot('battery-voltage-chart', graph_voltage.data, graph_voltage.layout);
    {% if fig_soc_json %}
    var graph_soc = {{ fig_soc_json | safe }};
    Plotly.newPlot('battery-soc-chart', graph_soc.data, graph_soc.layout);
    {% endif %}
</script>
{% endblock %}
