{% extends "layout.html" %}
{% block content %}
<div class="mt-4">
    <h1>Analiza energii pojazdu AGV</h1>
    <p>Witamy w panelu analitycznym! Skorzystaj z menu powyżej, aby przejść do poszczególnych sekcji analizy:</p>
    <ul>
        <li>Analiza efektywności energetycznej</li>
        <li>Porównanie trybów pracy</li>
        <li>Optymalizacja profilu jazdy</li>
        <li>Analiza baterii i zarządzanie energią</li>
        <li>Weryfikacja zgodności z normami</li>
    </ul>
    <p>W każdej zakładce znajdziesz wykresy, tabele i podsumowania dotyczące wybranego aspektu pracy pojazdu AGV.</p>
</div>
{% endblock %}
