{% extends "layout.html" %}
{% block content %}
<h2>Analiza efektywności energetycznej</h2>
<p>Średnie chwilowe zużycie energii: <strong>{{ avg_energy|round(2) }} mWh</strong></p>
<p>Całkowite zużycie energii: <strong>{{ total_energy_mWh|round(2) }} mWh</strong></p>
<div id="energy-chart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph = {{ plotly_json | safe }};
    Plotly.newPlot('energy-chart', graph.data, graph.layout);
</script>
{% endblock %}
