{% extends "layout.html" %}
{% block content %}
<h2>Optymalizacja profilu jazdy</h2>
<p>Średnie chwilowe zużycie energii podczas przyspieszania: <strong>{{ avg_acc|round(2) }} mWh</strong></p>
<p>Średnie chwilowe zużycie energii podczas jazdy ze stałą prędkością: <strong>{{ avg_cruise|round(2) }} mWh</strong></p>
<div id="optimization-chart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph = {{ plotly_json | safe }};
    Plotly.newPlot('optimization-chart', graph.data, graph.layout);
</script>
{% endblock %}
